apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: noobaa
  annotations:
    argocd.argoproj.io/sync-wave: "2"
    argocd.argoproj.io/compare-options: IgnoreExtraneous
  labels:
    gitops.ownedBy: default
spec:
  destination:
    namespace: openshift-gitops
    server: https://kubernetes.default.svc
  project: default
  source:
    path: gitops/manifests/operators/noobaa-operator/aggregate/minimal
    repoURL: https://github.com/redhat-app-services/gitops-tekton-demo.git
    targetRevision: main
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
